.Div1{
    text-align: center;
    position: relative;
}

.materia{
    position: relative;
    top:2rem;
    text-decoration: none;
    color: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pacoca{
    text-decoration: none;
    color: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: auto;
    background-color: bisque;
}

.box{
    outline: auto;
    background-color: bisque;
    padding: 20px;
    margin: 10px;
}

body{
    background-image: url('../../public/amendoim.jpg');
}